<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="book">
            <h2><span jhiTranslate="jdLdemoApp.book.detail.title">Book</span> {{book.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jdLdemoApp.book.bookName" [ngbTooltip]="'jdLdemoApp.book.help.bookName' | translate">Book Name</span></dt>
                <dd>
                    <span>{{book.bookName}}</span>
                </dd>
                <dt><span jhiTranslate="jdLdemoApp.book.writerName" [ngbTooltip]="'jdLdemoApp.book.help.writerName' | translate">Writer Name</span></dt>
                <dd>
                    <span>{{book.writerName}}</span>
                </dd>
                <dt><span jhiTranslate="jdLdemoApp.book.writer">Writer</span></dt>
                <dd>
                    <div *ngIf="book.writer">
                        <a [routerLink]="['/author', book.writer?.id, 'view']">{{book.writer?.writerName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book', book.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
